<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="logo-container">
        <span class="logo-left">Game</span>
        <span class="logo-right">4U</span>
    </div>

    <div class="main-content">
       
    <div class="hero-container">
        <div class="hero-text">
          <h1 class="headline">Welcome To Game4U</h1>
          <p class="subheadline">"Explore a World of Games Built with Pygame"</p>
          <div class="cta-buttons">
            <a href="Game" class="cta-button">Play Now</a>
            <a href=about class="cta-button">About Us</a>
          </div>
        </div>
    </div>
    </div>
    
    <div class="footer">
      <p>&copy; 2025 Game4U | All rights reserved.</p>
      <div class="social-links">
        <a href="#" class="social-icon">Facebook</a>
        <a href="#" class="social-icon">Twitter</a>
        <a href="#" class="social-icon">Instagram</a>
      </div>
    </div>

  </div>
</body>
</html>
